.scrollDown {
    position: absolute;
    bottom: 50px;
    right: -25px;
    text-decoration: none;
    color: $color5;
    display: flex;
    align-items: center;

.arrow {
    margin-left: 5px;
}
}

/* Animação da seta */
.bounce {
	-moz-animation: bounce 3s infinite;
	-webkit-animation: bounce 3s infinite;
	animation: bounce 3s infinite;
}
@-moz-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
  40% {
    -moz-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }
  60% {
    -moz-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}
@-webkit-keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
  40% {
    -webkit-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }
  60% {
    -webkit-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}
@keyframes bounce {
  0%, 20%, 50%, 80%, 100% {
    -moz-transform: translateY(0) rotate(90deg);
    -ms-transform: translateY(0) rotate(90deg);
    -webkit-transform: translateY(0) rotate(90deg);
    transform: translateY(0) rotate(90deg);
  }
  40% {
    -moz-transform: translateY(-30px) rotate(90deg);
    -ms-transform: translateY(-30px) rotate(90deg);
    -webkit-transform: translateY(-30px) rotate(90deg);
    transform: translateY(-30px) rotate(90deg);
  }
  60% {
    -moz-transform: translateY(-15px) rotate(90deg);
    -ms-transform: translateY(-15px) rotate(90deg);
    -webkit-transform: translateY(-15px) rotate(90deg);
    transform: translateY(-15px) rotate(90deg);
  }
}   